/*------------------------------------------------------------------------------------*/
/*--------默认样式(用作备份,项目中未直接引入该文件，样式需要开发者在外部编写)---------*/
/*------------------------------------------------------------------------------------*/
/* Container的默认样式,定义宽高会被忽略 */
.grid-container {
    width: 300px;
    border-radius: 10px;
    background-color: skyblue;
    /*overflow: hidden;*/
}

/* 所有Item的默认样式,定义宽高会被忽略 */
.grid-item{
    background-color: rgb(148, 145, 145);
}

/* 鼠标点击时的鼠标样式 */
.grid-mousedown-cursor {
    cursor: grabbing;
}

/* 鼠标抬起后的鼠标样式 */
.grid-mouseup-cursor {
    cursor: grab;
}

/* 拖动(drag)时克隆出来跟随鼠标移动的对应元素 */
.grid-dragging-clone-el {
    opacity: 1;
    transform: scale(1.1);
}

/* 点击进行拖动(drag)的来源元素，也就是容器内的Item，正在拖动时候的样式*/
.grid-dragging-source-el {
    opacity: 0.3;
}

/* 重置大小(resize)时克隆出来跟随鼠标移动的对应元素 */
.grid-resizing-clone-el {
    background-color: red;
}

/* 点击进行重置大小(resize)的来源元素，也就是容器内的Item，正在拖动时候的样式*/
.grid-resizing-source-el {
    opacity: 0.3;
}

/* 重置大小(resize)按钮样式 */
.grid-item-resizable-handle {
    font-size: 1.1rem;
}

.grid-item-close-btn {
    background-color: skyblue;
}
